body {
  font-family: "roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
:root {
  --primary-text-color: #434455;
  --logo-color: #4d5ae5;
  --focus-color: #404bbf;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.span {
  color: #2e2f42;
}
.list {
  list-style: none;
}
.main {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.main:hover,
:focus {
  color: #404bbf;
}
.mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.mail:hover,
:focus {
  color: #404bbf;
}

.footer {
  background-color: #2e2f42;
}
.link {
  text-decoration: none;
}
.section1 {
  background-color: #2e2f42;
}
.esyb {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.but1 {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.but1 :hover,
:focus {
  background-color: #404bbf;
}
